.pointer-container{

    position:relative;

    width:60px;

    height:70px;

    margin:auto;

    z-index:1000;

}

/* Triangle */

.pointer-head{

    width:0;

    height:0;

    border-left:18px solid transparent;

    border-right:18px solid transparent;

    border-top:35px solid #ff3b3b;

    margin:auto;

    filter:drop-shadow(0 0 10px rgba(255,0,0,.7));

}

/* Circle */

.pointer-circle{

    width:22px;

    height:22px;

    background:white;

    border:5px solid #ff3b3b;

    border-radius:50%;

    position:absolute;

    left:50%;

    top:22px;

    transform:translateX(-50%);

    box-shadow:0 0 15px rgba(255,0,0,.8);

}

/* Glow */

.pointer-shadow{

    position:absolute;

    width:20px;

    height:20px;

    border-radius:50%;

    background:rgba(255,0,0,.4);

    left:50%;

    top:24px;

    transform:translateX(-50%);

    animation:pulse 1.2s infinite;

}

@keyframes pulse{

    0%{

        transform:translateX(-50%) scale(1);

        opacity:.7;

    }

    50%{

        transform:translateX(-50%) scale(1.4);

        opacity:.2;

    }

    100%{

        transform:translateX(-50%) scale(1);

        opacity:.7;

    }

}