.reward-container{

    width:100%;

    display:flex;

    flex-direction:column;

    align-items:center;

    margin-bottom:30px;

}

.reward-title{

    color:white;

    font-size:28px;

    margin-bottom:20px;

}

.reward-buttons{

    display:flex;

    gap:20px;

}

.reward-btn{

    width:180px;

    height:55px;

    border:none;

    border-radius:12px;

    background:#262626;

    color:white;

    font-size:17px;

    cursor:pointer;

    transition:.3s;

}

.reward-btn:hover{

    background:#0b84ff;

    transform:translateY(-3px);

}

.reward-btn.active{

    background:#0b84ff;

    box-shadow:0 0 20px rgba(0,183,255,.5);

}

.selected-reward{

    margin-top:20px;

    color:#00d8ff;

    font-size:18px;

}

.selected-reward strong{

    margin-left:8px;

    color:#fff;

}