.feature-container {
    display: flex;
    justify-content: space-between;
    background-color: #303030;
    align-items: center;
    padding: 20px;
    color: white;
    border-radius: 8px;
    overflow: hidden;
    height: 50px;
    width: 100%;
  }
  
  .feature-card {
    flex: 1;
    text-align: center;
    padding: 20px 10px;
    font-size: 13px;
    font-weight: 600;
    border-right: 1px solid #181818;
  }
  
  /* Remove last border */
  .feature-card:last-child {
    border-right: none;
  }
  