/* Whole page */
.coin-page {
  display: flex;
  justify-content: center;
  background: #0f0f0f;
  min-height: 92vh;
  padding-top: 120px;
  position: relative;
  overflow-x: hidden;
}

/* Center container */
.coin-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  z-index: 10;
}

/* Fixed side ads */
.side-ad {
  width: 160px;
  height: 600px;
  background: #2e2e2e;
  color: white;
  position: fixed;
  top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 14px;
  padding: 10px;
  opacity: 0.9;
  pointer-events: none; /* important */
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.left-ad { left: 25px; }
.right-ad { right: 25px; }

/* COIN BUTTON (circle) */
.card .btn {
    margin-top: -30px;
    margin-left: 50px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: none;
  outline: none;
  color: white;
  font-size: 22px;
  background: #0c0c0c;
  box-shadow:
    0 0 40px rgba(0,183,255,0.4),
    0 0 60px rgba(0,183,255,0.2);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.card .btn:hover:not([disabled]) {
  transform: scale(1.04);
  box-shadow:
    0 0 60px rgba(0,183,255,0.8),
    0 0 80px rgba(0,183,255,0.6);
}

.card .btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/* PROGRESS BAR */
.progress-wrapper {
  width: 90%;
  text-align: center;
}

.progress-container {
  width: 100%;
  background: #1e1e1e;
  height: 16px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.6);
}

.progress-bar {
  height: 100%;
  background: #000;
  border-radius: 10px;
  transition: width 0.3s ease;
}

/* COUNTS TEXT (0/10 and Total Clicks) */
.count-row {
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: -10px;
  margin-left: 23px;
}


/* TASKBAR */
.taskbar {
    height: 50px;
  width: 90%;
  background: #141414;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 14px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.task-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* BOTTOM AD */
.bottom-ad {
  width: 320px;
  height: 260px;
  background: #2f2f2f;
  color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.clicks {
     display: flex;             
     justify-content: space-between;
     padding: 0 12px;
     margin-bottom: -28px;
     font-size: 10px;
     color: #fffdfdff;
     margin-left: 400px;
     margin-right: 20px;
}