
/* =========================
   GENDER RADIO BUTTONS
========================= */
.gender-group {
  display: flex;
  gap: 100px;
  margin-top: 10px;
}

.gender-option {
  display: flex;
  align-items: center;
  gap: 0px;
  font-size: 14px;
  cursor: pointer;
}

.gender-option input[type="radio"] {
  accent-color: #6eff5b; /* matches tab highlight */
  cursor: pointer;

}
